body{
    background: url("img/bg-min.jpg");
    background-color: #28ABB9;
    background-size: cover;
    font-family: 'Lobster', cursive;
}
.container{
    width: 40%;
    margin: 50px auto;
    background-color: #fff;
    border: solid 5px #28ABB9;
    color: #2D6187;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .container{
        width: 80%;
    }
}

h3 span{
    color: #DB6400;
}

#date_field{
    width: 100%;
    margin: 20px auto;
    border: solid 2px #DB6400;
    border-radius: 5px;
    height: 2.5em;
}

#submit_btn{
    margin: 20px auto;
    padding: 10px 30px;
    border: solid 2px #28ABB9;
    color: #fff;
    background-color: #2D6187;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}
#submit_btn:hover{
    transform: scale(1.02);
}

.result{
    margin: 60px 15px;
}

